@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  margin: 40px;
  background-color: color;
}

.navbar{
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sections{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

button{
  margin: 20px;
  height: 50px;
  color: black;
}

.litabox{
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  color: black;
  padding: 30px;
}